.menu {
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
  }
  
  .menu.dark {
    background-color: #333; /* Cor de fundo escura para tema escuro */
    color: #fff; /* Cor do texto para tema escuro */
  }
  
  .menu h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .category-container {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .category-title {
    padding: 15px 20px;
    font-size: 18px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
  }
  
  .menu-items {
    padding: 0 20px 20px 20px;
  }
  
  .menu-item {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .menu-item:last-child {
    border-bottom: none;
  }
  
  .price {
    font-weight: bold;
  }
  
  .theme-switch {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
  }
  
  .theme-switch.dark {
    background-color: #333; /* Cor de fundo escura para botão de tema escuro */
    color: #fff; /* Cor do ícone para botão de tema escuro */
  }
  
  .theme-switch:hover {
    background-color: #f0f0f0;
  }
  
  .theme-icon {
    font-size: 24px;
  }
  
  .theme-text {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
  }
  